.user-item {
  padding: 15px;
  border: 2px solid var(--charleston-green);
  display: flex;
  align-items: center;
  color: var(--white);
  cursor: pointer;
}

.user-selected {
  background-color: var(--ruddy-pink);
}

.user-item:hover {
  background-color: var(--ruddy-pink);
}

.user-item:hover .icon {
  display: block;
}

.icon-delete {
  display: none;
}

@media screen and (max-width: 992px) {
  .user-item {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .user-item {
    padding: 5px;
  }

  .icon-delete {
    max-width: 10px;
    padding-left: 2px;
  }
}
