:root {
  --light-gray: #ced4da;
  --cadet-blue: #9baec1;
  --red: #ff0000;
  --dark-charcoal: #333;
  --charleston-green: #2c2c2c;
  --white: #fff;
  --davy-grey: #525252;
  --ruddy-pink: #e19191;
  --chinese-silver: #ccc;
  --mantis: #66bb6a;
  --salem: #198754;
  --auroMetalSaurus: #6c757d;
  --japanese-laurel: #3c763d;
}
